<!DOCTYPE HTML>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
  </head>
  <body>
    <%
      findColor = function (userName, messageName){
        if (messageName != userName)
          return 'success';
        return 'info';
      }
    %>
    <div class="container mb-5">
      <div id="messages">
        <% for(var i=0; i<messages.length; i++) { %> 
          <div class="row rounded m-2">
            <div class="col-3 p-1">
                <div class="text-<%= findColor(chatName, messages[i].username) %>">
                  <%= messages[i].username %>
                </div>
                <div class="text-muted">
                  <%= messages[i].formattedDate %>
                </div>
            </div>
            <div class="col-9 bg-<%= findColor(chatName, messages[i].username) %> text-white p-1 pl-4 align-self-center">
                <%= messages[i].value %>
            </div>
          </div>
        <% } %>
      </div>
    </div>

    <form class="fixed-bottom" action="">
      <div class="input-group">
        <input id="m" class="form-control" placeholder="Type here..." autocomplete="off">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="submit">Send</button>
        </span>
      </div>
    </form>
    <script src="/scripts/socket.io.js"></script>
    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/tether.js"></script>
    <script src="/scripts/bootstrap.js"></script>
    <script>
      $(function(){
        var chatH = '<%= chatName %>';
        var socket = io('http://localhost:3000');
        $('form').submit(function(e){
          e.preventDefault();
          socket.emit('chat message', { username: chatH, value: $('#m').val() });
          $('#m').val('');
          return false;
        });
        socket.on('chat message', function(data){
          var messageColor;
          if (chatH != data.chatHandle)
            messageColor = 'success'
          else
            messageColor = 'info';
          $('#messages').append(
            $('<div class="row rounded m-2">').append(
              $('<div class="col-3 p-1">').append(
                $('<div class="text-' + messageColor + '">').text(data.username)
              ).append(
                $('<div class="text-muted">').text(data.formattedDate)
              )
            ).append(
              $('<div class="col-9 bg-' + messageColor + ' text-white p-1 pl-4 align-self-center">').text(data.value)
            )
          );
          $("html, body").animate({ scrollTop: $(document).height() }, "slow");
        });
      });
    </script>
  </body>
</html>
